<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
      <searchbox v-on:searchthepost="searchPostTitle=$event"></searchbox>
      <suggestion :search-post-title=searchPostTitle></suggestion>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    var searchbox=Vue.component('searchox', {
      data: function(){
        return {
        searchedPostTitle:''
        }
      },
      template:`
      <div>
      <h1>Enter the title of the post to search </h1>
      <input type="text" v-model="searchedPostTitle" v-on:input="$emit('searchthepost',searchedPostTitle)">
      <button v-on:click=" $emit('savethePost',searchedPostTitle)">Save the Post Title</button>
      </div>`
   
    });
    var suggestion=Vue.component('suggestion',{
      template:`
      <div id="filteredPostList" v-if="filteredPostList">
      <ul>
        <li v-for="post in filteredPostList" v-on:click="setTheSearchPostTitle(post.title)">{{ post.title }} </li>
      </ul>
    </div>        
      `,
      props:['searchPostTitle'],
      data: function(){
        return{
          searchPostTitle: '',
          postList: [{
          userId: 1,
           id: 1,
          title: "sunt aut facere repellat provident occaecati excepturi optio reprehenderit",
          body: "quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet architecto"
        }],
        filteredPostList:[]
        }
      },
      created: function(){
          this.getThePost();
        },
      methods: {
        searchThePost: function(){
          if(this.searchPostTitle){
            this.filteredPostList=this.postList.filter((post)=>{
              return post.title.toLowerCase().startsWith(this.searchPostTitle.toLowerCase());
          })
          }
          else{
            this.filteredPostList='';
          }
         
        },
        setTheSearchPostTitle: function(title){
          this.searchPostTitle=title;
          this.filteredPostList=[]
        },
        getThePost: function(){
          var vm=this;
          fetch('https://jsonplaceholder.typicode.com/posts')
          .then((response)=>{
            return response.json();
          }).then((json)=>{
            console.log(json);
            vm.postList=json
          })
        },
        savethePost: function(){
        var vm=this;
        fetch('https://jsonplaceholder.typicode.com/posts', {
         method: 'POST',
         body: JSON.stringify({
          title: vm.searchPostTitle,
          body: 'bar',
           userId: 1,
         }),
        headers: {
         'Content-type': 'application/json; charset=UTF-8',
        },
      })
    .then((response) => response.json())
    .then((json) => {
      console.log(json)
      vm.postList.push(json)
    });
    }
    }
    })
    var app=new Vue({
      el:'#app',
      data: {
        searchPostTitle:''
      },
      components: {
        searchbox:searchbox,
        suggestion:suggestion
      }
    })
    

  </script>
</body>
</html>

